      /* Parallax base styles */
      .parallax {
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-perspective: 300px;
        perspective: 300px;
      }
      .parallax-group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
      }
      .parallax-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .parallax-layer-fore {
        -webkit-transform: translateZ(200px) scale(.5);
        transform: translateZ(200px) scale(.5);
      }
      .parallax-layer-base {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }
      .parallax-layer-back {
        -webkit-transform: translateZ(-500px) scale(2.5);
        transform: translateZ(-500px) scale(2.5);
      }
      .parallax-layer-deep {
        -webkit-transform: translateZ(-2000px) scale(8);
        transform: translateZ(-2000px) scale(8);
      }
