      /* Parallax base styles */

      .parallax {
          height: 300px;
          /* fallback for older browsers */
          height: 100vh;
          overflow-x: hidden;
          -webkit-perspective: 300px;
          perspective: 300px;
      }

      .parallax-group {
          position: relative;
          height: 500px;
          /* fallback for older browsers */
          height: 100vh;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
      }

      .parallax-layer {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
      }
      .parallax-layer-0 {
          -webkit-transform: translateZ(250px) scale(.2);
          transform: translateZ(250px) scale(.2);
      }
      .parallax-layer-1 {
          -webkit-transform: translateZ(180px) scale(.5);
          transform: translateZ(180px) scale(.4);
      }

      .parallax-layer-2 {
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
      }

      .parallax-layer-3 {
          -webkit-transform: translateZ(-500px) scale(2.5);
          transform: translateZ(-500px) scale(2.5);
      }

      .parallax-layer-4 {
          -webkit-transform: translateZ(-2000px) scale(7.5);
          transform: translateZ(-2000px) scale(7.5);
      }
      .parallax-layer-5 {
          -webkit-transform: translateZ(-3000px) scale(8.5);
          transform: translateZ(-3000px) scale(8.5);
      }
