body,
html {
}

body {
    font: 100% / 1.5 微軟正黑體;
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 0.8em;
    font-weight: 300;
}
.small{
    font-size: 0.6em;
}
.gradient-bg {
    background: linear-gradient(rgba(227, 115, 92, 1), rgba(227, 115, 92, 1),rgba(227, 115, 92, 1), rgba(31, 61, 85, 1));
}

.parallax {
    font-size: 200%;
}

.eye {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sky1 {
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(31, 61, 85, 0), rgba(188, 226, 233, 1));
    margin-top: 0vh;
    padding-top: 0vh;
    position: relative;
}

.sky2 {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(188, 226, 233, 1), rgba(188, 226, 233, 1));
    margin-top: 0vh;
    padding-top: 0;
    position: relative;
}

.earth1 {
    width: 100%;
    background: linear-gradient(rgba(138, 145, 93, 1), rgba(255, 255, 255, 1));
    margin-top: 0vh;
    padding-top: 1vh;
    position: relative;
}
.earth2 {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(227, 115, 92, 1));
    margin-top: 0vh;
    padding-top: 1vh;
    position: relative;
}

.line-top {
    width: 100%;
    margin-top: 0vh;
    position: relative;
    height: 8vh;
    background: linear-gradient(#453726, #8A915D);
}
.line-bottom{
    width: 100%;
    margin-top: 0vh;
    position: relative;
    height: 30px;
    background: linear-gradient(#fff,#453726);

}
.line-bottom-b{
    width: 100%;
    margin-top: 0vh;
    position: relative;
    height: 30px;
    background: linear-gradient(#453726,#453726);

}
.main {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(138, 145, 93, .6);
    padding: 12px;
}

.text-center {
    text-align: center;
}

.nobreak {
    display: inline-block;
}

.btn-default {
    border: 2px solid #453726;
    color: #453726;
    background: 0 0;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    text-shadow: none;
}

.btn-default:focus,
.btn-default:hover {
    border: 2px solid #8A915D;
    background-color: #453726;
    color: #fff;
}
.footer{
    width: 100%;
    margin-top: 0vh;
    position: relative;
    background-color: rgba(31, 61, 85, 1);
    padding: 50px;
    color: #cccccc;
    font-size: 0.9em;
}
.list-icons {
    text-indent: -8px;
    font-size: 0.8em;
    padding-left: 14px;
}

.list-icons li i {
    padding-right: 4px;
    width: 10px;
    text-align: center;
}
.mission{
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 3px 3px 3px rgba(255, 255, 255, .4);
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
}
/* icon */

#icon {
    animation: icon 0.7s infinite alternate;
    float: left;
    position: absolute;
    top: 30px;
}
h4{
    color: #fff;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes icon {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



/* Standard syntax */

@keyframes icon {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}