body {
        background-color: #015668;
        font-family: '微軟正黑體';
        color: #fff1cf;
        font-size: 16px;
        line-height: 1.6;
    }
footer{
    background-color:#263f44;
    color:#fff1cf;
    padding: 2em;
}
a {
    color: #f0ad4e;
    text-decoration: none;
    cursor: pointer;
}

a:focus, a:hover {
    color: rgb(255, 241, 207);
    text-decoration: underline;
}
    blockquote:before {
        content: "“";
        width: 25px;
        height: 25px;
        line-height: 64px;
        font-size: 80px;
        position: absolute;
        top: 0px;
        left: 0px;
        font: italic 400%/1 Cochin, Georgia, "Times New Roman", serif;
    }
    
    blockquote > p {
        border-left: none;
        margin-left: 25px;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 500px;
  }
  :root {
    --swiper-theme-color: #ffd369;
}
.mt60{
    margin-top: 60px;
    }
.pb30{
    padding-bottom: 30px;
}
    h1,h2,h3,h4,h5{
        font-weight: 700;
        color: #ffd369;
    }
.lead{
        color: rgb(255, 241, 207);
        font-weight: 600;
        font-size: 1.4em;
}
    .bg-inverse {
    background-color: #263f44!important;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
    color: #ffd369;
}
.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,241,207,.5);
}
.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: rgba(255,241,207, 1);
}
.gradient-t {
    width: 100%;
    background: -webkit-linear-gradient(top left, #015668, #263f44);
    background: -o-linear-gradient(top, #015668, #263f44);
    background: -moz-linear-gradient(top, #015668, #263f44);
    background: linear-gradient(to top, #015668, #263f44);
}
.gradient-b {
    width: 100%;
    background: -webkit-linear-gradient(top left, #263f44, #015668);
    background: -o-linear-gradient(top, #263f44, #015668);
    background: -moz-linear-gradient(top, #263f44, #015668);
    background: linear-gradient(to top, #263f44, #015668);
}
.alert-warning {
    background-color: #fff1cf;
    border-color: #263f44;
    color: #015668;
}
.f-bold{
    font-weight: bold;
    font-size: 1.6em;
}
.f-bold2{
    font-weight: bold;
    font-size: 1.2em;
}
.nobreak {
    display: inline-block;
}
.img-box{
    border: 1px solid #fff1cf;
    border-radius: 3px;
}
.label {
    display: inline;
    padding: .1em .6em .1em;
    font-size: 75%;
    font-weight: bold;
    line-height: 2;
    color:#015668;
    background-color: #FFD369;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.modal-content{
    background-color:rgb(1, 86, 104);
}
.modal-header{
    border-bottom:1px solid #ffd369;
}
.close{
    color:#ffd369;
    text-shadow:0 1px 0 #000;
}
.close:hover{
    color:#ffd369;
}
.btn-warning {
    color:rgb(1, 86, 104);
}
.popover{
  max-width:200px;
  font-family: 'Open Sans', Helvetica, Arial, "Source Han Sans TC", "Microsoft Jhenghei", sans-serif !important;
  font-size: 12px;
  background-color: #fff1cf;
  color: #015668;
}
.popover.top{
  margin-top:-10px;
  margin-left: 60px;
}
.popover-title{
  font-weight: 600;
  color:#fff1cf;
  background-color:rgb(1, 86, 104);
}
